/* start header part */
*{
    font-family: 'Open Sans', sans-serif ;
    font-family: 'Roboto Condensed', sans-serif; 
}
.main-header{
    background-image: url('./banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
}

.header-container{
    margin-right: 220px;
}

.header-title{
   font-size: 60px;
}

.header-banner{
    color:rgba(5, 4, 4, 0.763);
    line-height: 27px;
}

.header-btn{
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgb(210, 84, 30);
    color: white;
    font-size: 20px;
}

/* header part end */
